[submodule "Libs/xcore"]
	path = Libs/xcore
	url = ../xcore.git
[submodule "Libs/halm"]
	path = Libs/halm
	url = ../halm.git
[submodule "Libs/osw"]
	path = Libs/osw
	url = ../osw.git
[submodule "Libs/yaf"]
	path = Libs/yaf
	url = ../yaf.git
[submodule "Libs/dpm"]
	path = Libs/dpm
	url = ../dpm.git
